@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.css';

/* Custom Gradient Animation */
@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Applying custom animation to the section */
.animate-gradient-x {
  animation: gradient-x 15s ease infinite;
  background-size: 200% 200%; /* Ensures the background spans enough space for the animation */
}
